body {
  font-family: 'Montserrat';
  font-size: 1.1rem;
  line-height: 1.7;
  padding: 10px;
}
a:link, a:visited, a:active, a:hover {
  color: green;
  font-weight: bold;
}
a:hover {
  color: #444;
}
nav a {
  text-decoration: none;
}
a.loud {
  background-color: green;
  color: white;
  padding: 1px 3px;
  text-decoration: none;
}
a.loud:hover {
  background-color: #444;
}
h1 { 
  text-align: center;
  margin: 0;
  line-height: 1.3;
  padding-bottom: 10px;
}
h1 a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 30px;
}
li {
  margin: 0;
  padding: 0 0 10px 0;
}
blockquote {
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  font-size: 1rem;
}
blockquote p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  ul {
    padding-left: 20px;
  }
}

@media print {
  .noprint {
    display: none;
  }
  h2 {
    font-size: 2.2rem;
    margin: 0;
  }
}